<img src="/images/banner1.png" width="100%" />
<br />
<br />
<h2 class ="gallery-title">Latest Uploaded Photos</h2>
<div class="section grid gap-4 ">
<div class="each-photo-home"> 
    <img class="rounded-3" style="width:100%" src="{{new1.imageUrl}}" alt="{{new1.title}}"/> 
    <hr>
    <span><h4>{{new1.title}}</h4> <h6>By: {{new1.author}}<h6></span>
</div>

<div class="each-photo-home"> 
    <img class="rounded-3" style="width:100%" src="{{new2.imageUrl}}" alt="{{new2.title}}"/> 
    <hr>
    <h4>{{new2.title}}</h4>
    <h6>By: {{top2.author}}<h6>
</div> 
<div class="each-photo-home"> 
    <img class="rounded-3" style="width:100%" src="{{new3.imageUrl}}" alt="{{new3.title}}"/> 
    <hr>
    <h4>{{new3.title}}</h4>
    <h6>By: {{new3.author}}<h6>
</div> 
<div class="each-photo-home"> 
    <img class="rounded-3" style="width:100%" src="{{new4.imageUrl}}" alt="{{new4.title}}"/> 
    <hr>
    <h4>{{new4.title}}</h4>
    <h6>By: {{new4.author}}<h6>
</div> 

<div
  class=" section container-fluid card-body text-center max-width: 100% p-3 mb-2 text-white animated fadeIn"
  style="background-color: rgb(138, 43, 226);">
<br><br><br><br>
  <div style="width:75%"><span>
    <br><br>
    Welcome to Graffyndr, the online community for street art enthusiasts in
    Lisbon, Portugal! Our platform allows users to discover and share the
    vibrant and dynamic street art scene of Lisbon, one of Europe's most
    colorful and culturally rich cities.
    <br /><br />
    Our mission is to celebrate the creativity and ingenuity of Lisbon's street
    artists by creating a space for people to discover and appreciate their
    work. We invite you to explore the city's hidden corners, uncovering
    stunning works of art that can be found on walls, buildings, and alleyways
    all over Lisbon.
    <br /><br />
    With our user-friendly interface, it's easy to upload your own pictures of
    street art and share the location with fellow enthusiasts. Whether you're a
    local resident or a tourist visiting the city, our platform makes it easy to
    connect with like-minded individuals and share your passion for street art.
    <br /><br />
    <p class="lead">Join our community today and discover<br>the vibrant world of
      Lisbon street art !!!</p><br>
    <div>
      
       <a class ="link-button-invert" href="/auth/signup">Sign Up</a>
      
        <a class ="link-button-invert" href="/auth/login">Log in</a>
      <br />
      <br />
      <br />
    </div>
    
  </span></div>

</div>

<h2 class ="gallery-title">Top Rated Photos</h2><br>
<div class="section grid gap-4 ">

<div class="each-photo-home"> 
    <img class="rounded-3" style="width:100%" src="{{top1.imageUrl}}" alt="{{top1.title}}"/> 
    <hr>
    <span><h4>{{top1.title}}</h4> <h6>By: {{top1.author}}<h6></span>
</div>

<div class="each-photo-home"> 
    <img class="rounded-3" style="width:100%" src="{{top2.imageUrl}}" alt="{{top2.title}}"/> 
    <hr>
    <h4>{{top2.title}}</h4>
    <h6>By: {{top2.author}}<h6>
</div> 
<div class="each-photo-home"> 
    <img class="rounded-3" style="width:100%" src="{{top3.imageUrl}}" alt="{{top3.title}}"/> 
    <hr>
    <h4>{{top3.title}}</h4>
    <h6>By: {{top3.author}}<h6>
</div> 
<div class="each-photo-home"> 
    <img class="rounded-3" style="width:100%" src="{{top4.imageUrl}}" alt="{{top4.title}}"/> 
    <hr>
    <h4>{{top4.title}}</h4>
    <h6>By: {{top4.author}}<h6>
</div>
</div>
<br><br>
</div>