{{#if userInSession}}
<h2>Welcome, {{userInSession.username}}</h2>
<p>This is your profile!</p>
<h3>Account Info</h3>
<img src="{{userInSession.imageUrl}}">
<p>{{userInSession.username}}</p>
<p>{{userInSession.email}}</p>
<p>{{userInSession.about}}</p>
<button>
    <a href="/edit-user-profile">Edit profile</a>
</button>
<button>
    <a href="/user-profile">Reload the page</a>
</button>
{{else}}
<br>
<p>Still no logged in user</p>
{{/if}}