<h1>Community</h1>

{{#each community}}
<div>
    <h4>{{username}}</h4>
    <img src="{{imageUrl}}">
{{!--     <a href="/gallery/{{_id}}">See details</a> <!-- point to details page --> --}}
{{!--     <a href="/books/{{_id}}/edit">Edit</a> --}}
{{!--     <form action="/gallery/{{_id}}/delete" method="post"> --}}
{{!--         <button type="submit">Delete</button> --}}
    </form>
</div>
{{/each}}