<h2>Create Your Route</h2>

<h3>How to choose your itenerary ?</h3>
<input type="radio" id="random" name="choose1" >
<label for="random">randomly drawn</label><br>
<input type="radio" id="fav" name="choose1" >
<label for="fav">by your Favourites</label><br>
<input type="radio" id="rated" name="choose1" >
<label for="rated">top rated</label><br>

<h3>How do you wanna visit the sorted Art</h3>
<input type="radio" id="walk" name="choose2" >
<label for="walk">Walking</label><br>
<input type="radio" id="bike" name="choose2" >
<label for="bike">By Bicycle</label><br>
<input type="radio" id="transport" name="choose2" >
<label for="transport">By Public transports</label>
<br>
<br>


<a href="https://www.google.com/maps/dir//{{adress1}}+Lisboa/{{adress2}}+Lisboa/{{adress3}}+Lisboa/{{adress4}}+Lisboa/{{adress5}}+Lisboa+{{transport-code}}"><h3>View your Route in Google Maps !</h3></a>

<iframe src="https://www.google.com/maps/embed?pb=!1m35!1m12!1m3!1d49801.45865863744!2d-9.232864791384559!3d38.72719443175542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m20!3e2!4m0!4m5!1s0xd1932d9d7cb7fd5%3A0x2a0c9acdae587c84!2sR.%20Francisco%20Ba%C3%ADa%202%2C%201500-580%20Lisboa!3m2!1d38.754888!2d-9.178765499999999!4m5!1s0xd1933436c95ec77%3A0xddbc780aeed7eeb1!2sCampo%20de%20Ourique%2C%20Lisboa!3m2!1d38.721322!2d-9.1672104!4m5!1s0xd1934a035e5e1a3%3A0x1db9559a3a7b956f!2sTapada%20das%20Necessidades%2C%20Cal%C3%A7ada%20Necessidades%2C%20Lisboa!3m2!1d38.7090051!2d-9.169833299999999!5e0!3m2!1spt-PT!2spt!4v1684239221642!5m2!1spt-PT!2spt" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>