<h2>Create Your Route</h2>
<form action="/create-your-route" method="post">
<h3>How to choose your itenerary ?</h3>
<input type="radio" id="itenerary" value="random" name="itenerary" >
<label for="random">randomly drawn</label><br>
<input type="radio" id="itenerary" value="fav" name="itenerary" >
<label for="fav">by your Favourites</label><br>
<input type="radio" id="itenerary" value="rated" name="itenerary" >
<label for="rated">top rated</label><br>

<h3>How do you wanna visit the sorted Art</h3>
<input type="radio" id="ride" value="w" name="ride" >
<label for="walk">Walking</label><br>
<input type="radio" id="ride" value="b" name="ride" >
<label for="bike">By Bicycle</label><br>
<input type="radio" id="ride" value="r" name="ride" >
<label for="transport">By Public transports</label>
<br>
<br>
<button type="submit">View your Route in Google Maps !</button>
</form>


{{!-- <a href="https://www.google.com/maps/dir//{{adress1}}+Lisboa/{{adress2}}+Lisboa/{{adress3}}+Lisboa/{{adress4}}+Lisboa/{{adress5}}+Lisboa+{{transport-code}}"><h3>View your Route in Google Maps !</h3></a> --}}

<iframe src="https://www.google.com/maps/embed?{{userRoute}}" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>