<h1>Gallery</h1>

{{#each gallery}}
<div class="container-fluid text-center">
    <h3>{{title}}</h3>
    <p>By: {{author}}</p>
    
    <p>Rating:</p> <img style="width: 4rem" src="{{average-url}}"></img><p>{{average}}</p>
    <!-- /images/{{average}}-starRate.png */ -->
<div class="container-fluid text-center"><img style="width:20rem" src="{{imageUrl}}" alt="{{title}}">
    <br>
<a href="/gallery/{{_id}}">See details</a>
<a href="/gallery/{{_id}}/edit">Edit</a>
</div>   
</div>
{{/each}}

`1${locations[0].location}Lisboa`