<h1 class ="gallery-title">Gallery</h1>


<section class="section">




<div class="each-photo">
{{#each gallery}}
    <div> <img style="width:20rem" src="{{imageUrl}}" alt="{{title}}"/> 
    <br/>
    <h4>{{title}}</h4>
    <h6>By: {{author}}<h6>
    <img class="stars-image" src="/images/{{average}}-starRate.png"/>    
    <a class ="link-button" href="/gallery/{{_id}}">See details</a> <a class ="link-button" href="/gallery/{{_id}}/edit">Edit</a>
    </div>
<br><br>
{{/each}}
</div>
</section>