<h1>Gallery</h1>

{{#each gallery}}
<div class="container-fluid text-center">
    <h3>{{title}}</h3>
    <p>By: {{author}}</p>
    
    <p>Rating:</p>
    <p>{{average}}</p>
<div class="container-fluid text-center"><img style="width:20rem" src="{{imageUrl}}" alt="{{title}}">
    <br>
<a href="/gallery/{{_id}}">See details</a>
<a href="/gallery/{{_id}}/edit">Edit</a>
</div>   
</div>
{{/each}}