<br>

<div class="photo-details-container">

<h3 class ="gallery-title">Photo Details & Reviews</h3>
<br>
<img src="{{photo.imageUrl}}" alt="{{photo.title}}" />
<h4>{{photo.title}}</h4>
<h6>By: {{photo.author}}</h6><br />
<p>Description: {{photo.description}}</p><br />
<p>Location: {{photo.location}}</p><br />

          
      {{#if isFav}}
        <form action="/gallery/removeFavs/{{photo._id}}" method="post">
          <button class ="link-button" type="submit">Remove from my favourite Photos</button>
        </form>
      {{else}}
        <form action="/gallery/addFavs/{{photo._id}}" method="post">
          <button class ="link-button" type="submit">Add to my favourite Photos</button>
        </form>
      {{/if}}

<!-- title: author: description: location: rating: review:  imageUrl: -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h4>Leave a Review!</h4>
<!-- Form to Create a Review -->
<form class="total-form" action="/review/create/{{photo._id}}" method="post">
  <label class="form-label">Rating:
    <br><input class ="imput-field-form" type="number" name="rating" min="1" max="10" /></label>
  <br>
  <label class="form-label" for="content">Content: </label>
  <br>
  <textarea class ="imput-field-form" name="content" id="content" cols="30" rows="5"></textarea>
  <br><br>
  <button class ="link-button" type="submit">Create the review</button>
</form>
<!-- End of the Form to Create a Review -->
<!-- Review Section -->
<br>
<h4>Last Reviews!</h4>
{{#each photo.reviews}}
  <div>
    <!-- Actually displaying the review -->
    <span>By: {{author.username}}</span><br />
     <p>Rating:{{rating}}</p>
    <p>Review: {{content}}</p>
    <!-- Deleting the Review -->
    <form action="/review/delete/{{_id}}" method="post">
      <button class ="link-button" type="submit">Delete</button>
    </form>
  </div>
{{/each}}

<br />
<!-- Display all the Reviews of the Review that we're seeing -->

<a class ="link-button" href="/gallery">Back</a>

</div>