<img src="{{photo.imageUrl}}" alt="{{photo.title}}" />
<h3>{{photo.title}}</h3>
<p>By: {{photo.author}}</p><br />
<p>Description: {{photo.description}}</p><br />
<p>Location: {{photo.location}}</p><br />

          
      {{#if isFav}}
        <form action="/gallery/removeFavs/{{photo._id}}" method="post">
          <button class="tag name" type="submit">Remove from my favourite Photos</button>
        </form>
      {{else}}
        <form action="/gallery/addFavs/{{photo._id}}" method="post">
          <button class="tag name" type="submit">Add to my favourite Photos</button>
        </form>
      {{/if}}

<!-- title: author: description: location: rating: review:  imageUrl: -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- Review Section -->
<h4>Leave a Review!</h4>

{{#each photo.reviews}}
  <div>
    <!-- Actually displaying the review -->
    <span>By: {{author.username}}</span><br />
     <p>Rating:{{rating}}</p><br/>
    <p>Review: {{content}}</p>
    <!-- Deleting the Review -->
    <form action="/review/delete/{{_id}}" method="post">
      <button type="submit">Delete</button>
    </form>
  </div>
{{/each}}

<!-- Form to Create a Review -->
<form action="/review/create/{{photo._id}}" method="post">
  <label>Rating:<input type="number" name="rating" min="1" max="10" /></label>
  <label for="content">Content</label>
  <textarea name="content" id="content" cols="30" rows="5"></textarea>
  <button type="submit">Create the review</button>
</form>
<!-- End of the Form to Create a Review -->

<br />

<!-- Display all the Reviews of the Review that we're seeing -->

<a href="/gallery">Back</a>