<br>
<div class="section">
<div class="photo-details-container">

<h3 class ="gallery-title">Photo Details & Reviews</h3>
<br>
<img class= "rounded-4" src="{{photo.imageUrl}}" alt="{{photo.title}}" style= "width:90%"/>
<br>
<h4 class="bold">{{photo.title}}</h4>
By:<h5>{{photo.author}}</h5>
<span class="bold">Description: </span> <p>{{photo.description}}</p>
<span class="bold">Location: </span><p>{{photo.location}}</p>

          
      {{#if isFav}}
        <form action="/gallery/removeFavs/{{photo._id}}" method="post">
          <button class ="link-button" type="submit">Remove from my favourite Photos</button>
        </form>
      {{else}}
        <form action="/gallery/addFavs/{{photo._id}}" method="post">
          <button class ="link-button" type="submit">Add to my favourite Photos</button>
        </form>
      {{/if}}

<!-- title: author: description: location: rating: review:  imageUrl: -->

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h4>Leave a Review!</h4>
<!-- Form to Create a Review -->
<form class="total-form" action="/review/create/{{photo._id}}" method="post">
  <label class="form-label"><p class="bold"></p>Rating:
    <br><input class ="imput-field-form" type="number" name="rating" min="1" max="10" /></label>
  <br>
  <label class="form-label" for="content">Content: </label>
  <br>
  <textarea class ="imput-field-form" name="content" id="content" cols="30" rows="5"></textarea>
  <br><br>
  <button class ="link-button" type="submit">Create the review</button>
</form>
<!-- End of the Form to Create a Review -->
<!-- Review Section -->
<br>
<h4 class="bold">Last Reviews!</h4>
{{#each photo.reviews}}
  <div class="width-percentage">
    <!-- Actually displaying the review -->
    <span class="bold">By: </span> <span>{{author.username}}</span><br/>
     <span class="bold">Rating: </span><span>{{rating}}</span><br/>
    <span class="bold">Review: </span><span>{{content}}</span><br/><br/>
    <!-- Deleting the Review -->
    <form action="/review/delete/{{_id}}" method="post">
      <button class ="link-button" type="submit">Delete</button><br />
    </form>
  </div>
{{/each}}

<br />
<!-- Display all the Reviews of the Review that we're seeing -->

<a class ="link-button" href="/gallery">Back</a>

</div>

</div>